.card{
  border: 0;
  background-color: #00000000;
  box-shadow: none;
}
@media only screen and (min-width: 769px){
button{
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: cursive;
  font-weight: 600;
  color: #172029;
  background: #efefef;
  /* border: 0; */
  border-radius: 24px;
  border-width: initial;
  outline: 0;
  // text-indent: 75px;
  transition: all 0.3s ease-in-out;
}
}

@media only screen and (max-width :768px) and (min-width:426px) {
  button{
    width: 120px;
    padding: 0;
    font-size: inherit;
    display: inline-block;
  
    font-family: cursive;
    font-weight: 600;
    color: #172029;
    background: #efefef;
    border-radius: 24px;
    border-width: initial;
    outline: 0;
    transition: all 0.3s ease-in-out;
  }

}

@media only screen and (max-width :425px) {
  button{
    width: 90px;
    padding: 0;
    font-size: smaller;
    display: inline-block;

    font-family: cursive;
    font-weight: 600;
    color: #172029;
    background: #efefef;
    border-radius: 24px;
    border-width: initial;
    outline: 0;
    transition: all 0.3s ease-in-out;
  }

}

.styleClassHead{
  padding-top: 5%;
   padding-bottom: 5%;
   font-weight: 600;
   font-family: monospace; 
   font-size: larger;
}

.styleClass{
  padding: 3% 0 1% 0;
}
.card-title{
  font-weight: 700;
  font-size: 116%;
  font-family: cursive;
}
.mat-stepper-horizontal {
  background-color:#d8eb7b;
  margin-bottom: 64%;
}
.mat-stepper-vertical {
  background-color:#d8eb7b;
  margin-bottom: 25%;
}


@media only screen and (max-width: 1200px) and (min-width:768px){
  .StyleclassesRange{
    font-size: small;
  }
}

@media only screen and (max-width: 767px){
  .StyleclassesRange{
    font-size: small;
  }
  h3{
    font-size: x-small;
  }

  .container{
    max-width: 100vw;
    padding: 0;
    margin: 0;

  }
}

.mini{
  display: none;
}
@media only screen and (max-width:573px){
  .not-mini{
    display: none;
  }
  .mini{
    display: block;
  }

  // .col-2 h3{
  //   display: none;
  // }
  

}

.questionStyle{
  font-weight: 500;
  font-family: cursive;
  font-size: 105%;
  text-align: center;
}
.redtext{
  color: red;
}
.greentext{
  color: rgb(29, 190, 8);
}
.redtext2{
  color: red;
    margin: 5%;
    font-weight: 600;
}









@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  background: #efefef;
}
@mixin epic-sides() { // https://codepen.io/MichaelArestad/pen/qltuk
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: -5000px;
        height: 100%;
        width: 15000px;
        z-index: -1;
        @content;
    }
}




.gate {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 65px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;    
    // padding: 4px 15px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #7AB893;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 99;
    
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      background: #377D6A;
      transform-origin: left bottom;
      transition: all .4s ease-in-out;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      background: rgba(3,36,41,.2);
      z-index: -2;
      right: 20%;
    }
  }
}
span:nth-child(2) .gate {
  text-indent: 85px;
}
span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active{
  text-indent: 0;
}
.gate:focus,
.gate:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: rotate(-66deg);
    border-radius: 3px;
    
    &:before {
      transform: rotate(10deg);
    }
  }
}
.skinny {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 75px; // Arbitrary.
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    // top: 0;                                                                                                        //mada changes
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      z-index: -1;
      transition: all .3s ease-in-out;
    }
    &:before {
      // Skinny bit here
      top: 5px;
      bottom: 5px;
      background:#377D6A; // change this to #134A46
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:after {
      top: 0;
      bottom: 0;
      background: #377D6A;
    }
  }
  
}
.skinny:focus,
.skinny:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  
  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    transform: translateX(-100%);
    
    &:after {
      transform: translateX(100%);
    }
  }
}
