

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal darken-4" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand (click)="gohome()"><a class="navbar-brand" ><mdb-icon fas icon="award"></mdb-icon> myGPA</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a (click)="about()" class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="info"></mdb-icon> About<span class="sr-only">(current)</span></a>
      </li>
      

      <!-- Dropdown -->
      <li *ngIf="isLogged" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect  (click)="settings()"><mdb-icon fas icon="cog"></mdb-icon> Settings</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log out</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->