.jumbotron {
  background-color: #ba1c1c3d;
  margin: 13% 13% 0% 13%;
  }

.mini-words{
  color: red;
  font-family:Impact;
  font-size: x-small;
 }


.btn{
  max-width: 25rem;
}
.whiteclass{
  color: white;
  font-weight: 400;
}