<div class="jumbotron jumbotron-fluid">
  <div class="container" id="text-align">
    <h1 class="display-3 ">myGPA</h1>
    <p class="lead">Calculate GPA | Save Your Result</p>
      <p class="lead">
        <button class="btn btn-primary btn-lg" (click)="Login()"  role="button">SIGN IN</button>
      </p>
      <p class="lead">
        <button class="btn btn-primary btn-lg" (click)="register()" role="button">SIGN UP</button>
      </p>
      <p class="lead">
        <button class="btn btn-primary btn-lg" href="#" role="button">SEARCH</button>
      </p>  
  </div>
</div>



