<p class="navbar">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        &#9776;
    </a>
    
  </p>
  <div class="collapse" id="collapseExample">
    <a class="dropdown-item" href="#">Log In</a>
    <a class="dropdown-item" href="#">Edit My Result</a>
    <a class="dropdown-item" href="#">fd</a>
  </div>
  



  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">My GPA</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of it's parent.</p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="card-columns">
        <div class="card">
          <!-- <img class="card-img-top img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32714/dummy-sky.jpg" alt="Card image cap"> -->
          <div class="card-block">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        
        <div class="card">
          <!-- <img class="card-img-top img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32714/dummy-sky.jpg" alt="Card image cap"> -->
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        
        
        <div class="card">
          <!-- <img class="card-img img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32714/dummy-sky.jpg" alt="Card image"> -->
        <p>fdfgdgbslkjf</p>
        </div>
        
        
      </div>
    </div>
  </div>