<p class="navbar">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        &#9776;
    </a>
    
  </p>
  <div class="collapse" id="collapseExample">
    <a class="dropdown-item" href="#">LOGIN</a>
    <a class="dropdown-item" href="#">SIGN UP</a>
    <a class="dropdown-item" href="#">SEARCH <a class="mini-words">without login</a></a>
  </div>
  
<button (click)="getData()">getData2</button>


  <div class="jumbotron jumbotron-fluid">
    <div class="container" id="text-align">
      <h1 class="display-3">My GPA</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of it's parent.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="login" role="button">SIGN IN</a>
      </p><p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">SIGN UP</a>
      </p><p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">SEARCH</a>
      </p>
    </div>
  </div>
