<div class="modal-content" >
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Subjects</h5>
    <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="dynamicForm">
      <!-- <div class="card m-3"> -->
        <div style="padding-bottom: 4%;" class="row">
          <div class="col-1"></div>
          <div class="col-5">   
             <!-- <div data-toggle="tooltip" data-placement="top" title="Enter Year Of Semester" class="form-group col-5"> -->
            <!-- <input placeholder="ex: 2018" type="number" formControlName="yearOfSem" class="form-control"  required  /> -->
            
            <div *ngIf="!viewSubject; else elseBlock01">
              <label>Semester Year</label>
              <select formControlName="yearOfSem" id="inputState" class="form-control">
                <option>1<sup>st</sup> year</option>
                <option>2<sup>nd</sup> year</option>
                <option>3<sup>rd</sup> year</option>
                <option>4<sup>th</sup> year</option>
                <option>5<sup>th</sup> year</option>
              </select>  
            </div>
            <ng-template #elseBlock01>
              <label>Semester Year</label>
              <input formControlName="yearOfSem" id="inputState" class="form-control"  disabled>
            </ng-template>




          <!-- </div> -->
        </div>
          <div class="col-1"></div>
          <div class="col-5">
            <!-- <div data-toggle="tooltip" data-placement="top" title="Enter Semester Term" class="form-group col-5"> -->
             <div *ngIf="!viewSubject; else elseBlock02">
              <label >Semester term</label>
              <select formControlName="numberOfSem" id="inputState" class="form-control">
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>

            <ng-template #elseBlock02>
              <label>Semester term</label>
              <input formControlName="numberOfSem" id="inputState" class="form-control" disabled >
            </ng-template> 
            <!-- </div> -->
          </div>
        </div>
    
        <div *ngFor="let subject of t.controls; let i = index" class="list-group list-group-flush">
          <!-- <div class="list-group-item"> -->
    
            <div [formGroup]="subject" class="form-row">
              <div class="form-group col-1">
                <h5 class="card-title"> {{i + 1}}</h5>
              </div>
              <div data-toggle="tooltip" data-placement="top" title="Enter Subject Name" class="form-group col-6">
    
                <input placeholder="subject name" type="text" formControlName="name" class="form-control" />
    
              </div>
              <div data-toggle="tooltip" data-placement="top" title="Enter Credit of Subject" class="form-group col-3">
                <input type="number"  placeholder="credit" formControlName="credit" class="form-control" />
              </div>

              <div data-toggle="tooltip" data-placement="top" title="Enter Your Grade" class="form-group col-2">
             
    
                <!-- <input type="text" formControlName="email" class="form-control"/> -->
                <select formControlName="subjectGrade" id="inputState" class="form-control">
                  <option></option>
                  <option>A+</option>
                  <option>A</option>
                  <option>A-</option>
                  <option>B+</option>
                  <option>B</option>
                  <option>B-</option>
                  <option>C+</option>
                  <option>C</option>
                  <option>C-</option>
                  <option *ngIf="isDplus">D+</option> 
                  <option>D</option>
                  <option>I</option>
                  <option>F</option>
                </select>
    
              </div>
             
            </div>
          </div>
        <!-- </div> -->
        <div class="row">
          <div class="col-8">
            <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Hi there!">
              Tooltip Test
          </button> -->
          </div>
          <div  class="col-1">
            <a class="btn btn-success" (click)="addSubject(true,null)"><mdb-icon fas icon="plus-circle"></mdb-icon></a>
          </div>
          <div  class="col-2">
            <a class="btn btn-danger" (click)="addSubject(false,null)"><mdb-icon fas icon="minus-circle"></mdb-icon></a>
          </div>
          <div class="col-1">
          </div>
        </div>
      
       
      <!-- </div> -->
     <div class="modal-footer">
        <!-- <button (click)="onReset()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button  type="submit" class="btn btn-primary" (click)="onSubmit(dynamicForm.value);" data-dismiss="modal" 
        [disabled]="!dynamicForm.valid"
        >Done</button>
      </div>
    </form>
    
</div>
 
</div>
<!-- 
<button (click)="one.ngOnInit()" >Call Component One Method</button>
<app-base #one></app-base> -->