.col-2{
    background-color: rgb(0 77 64 / 12%);
}



.card{
    background-color: #0e4d0440;
}

// .btn {
//     border: 1px;
//     border-radius: 25px;
// }

.btn {
    // border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
  }
  
  /* Green */
  .success {
    color: green;
  }
  
  .success:hover {
    background-color: #085c0b98;
    color: white;
  }
  
  /* Blue */
  .info {
    color: #d8fed7c9;
    font-weight: 300;
  }
  
  .info:hover {
    background: #f10c0c12;
    color: white;
    font-weight: 300;
  }






@media only screen and (max-width:1102px) and (min-width:980){
  .not-mini{
    font-size: 13px;
  }
}

  

@media only screen and (max-width:979px){
  .not-mini{
    display: none;
  }
  
}