 <div class="row">
  <div class="col-2">
    <div class="row card">
      <div class="col-12"> <button  class="btn info" (click)="getProfile()"><p class="not-mini">Account</p> <mdb-icon fas icon="user-cog"></mdb-icon></button></div>
      <div class="col-12"> <button  class="btn info" (click)="OTC()"><p class="not-mini">Configuration</p> <mdb-icon fas icon="hammer"></mdb-icon></button></div>
    </div>

  </div>

  <div class="col-10">
    <div *ngIf="!isProfile">
      
    <app-otc></app-otc>
    </div>
    <div *ngIf="isProfile">
      
      <app-profile></app-profile>
      </div>
  </div>

</div> 

