
<div class="jumbotron">
  <div class="lead">
    

    


      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 W50">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="semConfigRerun(null)" style="margin-bottom: 10px;">
            <mdb-icon fas icon="plus-circle"></mdb-icon> create a semester 
          </button>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 W20">
          <div class="card text-white bg-primary " style="max-width: 20rem;">

            <mdb-card cascade="true" wider="true">
              <div class="view view-cascade gradient-card-header aqua-gradient">
                <h2 class="card-header-title mb-12 responsiveTest">Overall-GPA :  {{ OverallGPA}}</h2>
              </div>
            </mdb-card>
            
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 W30">
          <div class="card text-white bg-primary " style="max-width: 95%;">

            <mdb-card cascade="true" wider="true">
              <div class="view view-cascade gradient-card-header aqua-gradient">
                <h2 class="card-header-title mb-12 responsiveTest">Awarded Classes: {{awardedClass}}</h2>
              </div>
            </mdb-card>
            
          </div>
        </div>

      </div>
     
  </div>
</div>
<!-- Semester creation Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
   
        <app-semester-Config (cancelRegister)="cancelRegisterMode()" ></app-semester-Config>
  </div>
</div>
<!-- Semester creation model end -->

<!-- =========================== start card view in base UI  -->
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let sem of semDetails; index as i;">
      <div class="card-align">
        <div class="card base-background">
          <div class="card-body">
            <div class="row stylecard" >
              <span>
                <div *ngIf="semDetails[i].yearOfSem==1">
                <h2 class="card-title">{{sem.yearOfSem}} <sup>st</sup> year</h2>
              </div>
              <div *ngIf="semDetails[i].yearOfSem==2">
                <h2 class="card-title">{{sem.yearOfSem}} <sup>nd</sup> year</h2>
              </div>
              <div *ngIf="semDetails[i].yearOfSem==3">
                <h2 class="card-title">{{sem.yearOfSem}} <sup>rd</sup> year</h2>
              </div>
              <div *ngIf="semDetails[i].yearOfSem >=4">
                <h2 class="card-title">{{sem.yearOfSem}} <sup>th</sup> year</h2>
              </div></span>
              <span style="padding-left: 15px;"><h2 class="card-title">Semester: {{sem.numberOfSem}}</h2></span>
            </div>
            
            
            <ul class="list-group list-group-flush">
              <div class="card-header">
                Subject count : {{semDetails[i].semInfo[0].length}} 
              </div>
              <div class="card-header"> 
                <span class="badge badge-dark">sGPA
                </span> 
               <span> 
                 {{semDetails[i].semInfo[1]['sGpaView']}}</span>
               </div>

              <div>
                <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]=chartDatasets[i]
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                   
                </canvas>
              </div>
            </ul>
            <div style="padding-top: 5px;" class="row">


              <div class="col-5">
              </div>

              <div class="col-6">
                <button (click)="viewSem(i)" type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">
                <mdb-icon fas icon="ellipsis-v"></mdb-icon> more
             </button>
           </div>
           <div class="col-1"></div>
             
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


<!--POP UP semester view Modal -->
<div style="padding-top: 30px;" class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div *ngIf="viewSubject" class="modal-header">
        <div *ngIf="viewSubject.yearOfSem==1"> 
          <h3 class="modal-title" id="exampleModalLongTitle">{{viewSubject.yearOfSem}} <sup>st</sup> year | Semester {{viewSubject.yearOfSem}}</h3>
        </div>
        <div *ngIf="viewSubject.yearOfSem==2"> 
          <h3 class="modal-title" id="exampleModalLongTitle">{{viewSubject.yearOfSem}} <sup>nd</sup> year | Semester {{viewSubject.yearOfSem}}</h3>
        </div>
        <div *ngIf="viewSubject.yearOfSem==3"> 
          <h3 class="modal-title" id="exampleModalLongTitle">{{viewSubject.yearOfSem}} <sup>rd</sup> year | Semester {{viewSubject.yearOfSem}}</h3>
        </div>
        <div *ngIf="viewSubject.yearOfSem >=4"> 
          <h3 class="modal-title" id="exampleModalLongTitle">{{viewSubject.yearOfSem}} <sup>th</sup> year | Semester {{viewSubject.yearOfSem}}</h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table *ngIf="viewSubject" class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Subject</th>
              <th scope="col">Result</th>
              <th scope="col">status</th>
            </tr>
          </thead>
          <tbody *ngFor="let sub of viewSubject.semInfo['0']; index as i;" >
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{sub.name}}</td>
                <td>{{sub.subjectGrade}}</td>
                
                <div [ngSwitch]="sub.status" >
                  <td id="good" *ngSwitchCase="'Good'">{{sub.status}}</td>
                  <td id="medium" *ngSwitchCase="'Medium'" >{{sub.status}}</td>
                  <td id="weak" *ngSwitchCase="'Weak'">{{sub.status}}</td>
                  <td id="weak" *ngSwitchCase="'--'">{{sub.status}}</td>
                </div>
          
              </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="semConfigRerun(viewSubject)" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal"><mdb-icon far icon="edit"></mdb-icon></button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteSemModal" data-dismiss="modal"><mdb-icon far icon="trash-alt"></mdb-icon></button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
      </div>
      
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal" id="deleteSemModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body" style="text-align: -webkit-center; font-size: 125%;">
         <div> Do you want to Delete the semester {{viewSubject?.numberOfSem}} of 
          <div *ngIf="viewSubject?.yearOfSem==1">{{viewSubject?.yearOfSem}}  <sup>st</sup> year?</div>
          <div *ngIf="viewSubject?.yearOfSem==2">{{viewSubject?.yearOfSem}}  <sup>nd</sup> year?</div>
          <div *ngIf="viewSubject?.yearOfSem==3">{{viewSubject?.yearOfSem}}  <sup>rd</sup> year?</div>
          <div *ngIf="viewSubject?.yearOfSem>=4">{{viewSubject?.yearOfSem}}  <sup>th</sup> year?</div>
          
        </div> 
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deletesem()">Yes</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>




