<!-- <body class="base-background"> -->
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      create a semester  &#43;
    </button>

    <button (click)="getSemDetails()">get sem info</button>
    <button (click)="getOnetimeConfig()">get one time config</button>
  </p>
 
</div>

<!-- Semester creation Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
   
        <app-semester-Config></app-semester-Config>
   
  </div>
  
</div>

<!-- Semester creation model end -->









<!-- =========================== start card view in base UI  -->
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let sem of semDetails; index as i;">
      <div class="card-align">
        <div class="card base-background">
          <div class="card-body">
            <div *ngIf="semDetails[i].yearOfSem==1">
              <h2 class="card-title">{{sem.yearOfSem}} <sup>st</sup> year</h2>
            </div>
            <div *ngIf="semDetails[i].yearOfSem==2">
              <h2 class="card-title">{{sem.yearOfSem}} <sup>nd</sup> year</h2>
            </div>
            <div *ngIf="semDetails[i].yearOfSem==3">
              <h2 class="card-title">{{sem.yearOfSem}} <sup>rd</sup> year</h2>
            </div>
            <div *ngIf="semDetails[i].yearOfSem >=4">
              <h2 class="card-title">{{sem.yearOfSem}} <sup>th</sup> year</h2>
            </div>
            <h3 class="card-title">Semester: {{sem.numberOfSem}}</h3>
            <ul class="list-group list-group-flush">
              <div class="card-header">
                Subject count {{semDetails[i].semInfo[0].length}}
              </div>
              <li  class="list-group-item">Good    : <a id="good"> {{semDetails[i].semInfo[1]['Good']}}</a></li>
              <li  class="list-group-item">Medium  : <a id="medium">{{semDetails[i].semInfo[1]['Medium']}}</a> </li>
              <li  class="list-group-item">Weak    : <a id="weak">{{semDetails[i].semInfo[1]['Weak']}}</a> </li>
            </ul>
            <div style="padding-top: 5px;" class="row">
              <div class="col-7"></div>
              <div class="col-4">
                <button (click)="viewSem(i)" type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">
               more
             </button>
           </div>
           <div class="col-1"></div>
             
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--  start card view in base UI   -->


<!--POP UP semester view Modal -->
<div style="padding-top: 30px;" class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div *ngIf="viewSubject" class="modal-header">

        <div *ngIf="viewSubject.yearOfSem==1"> 
          <h3 class="modal-title" id="exampleModalLongTitle">{{viewSubject.yearOfSem}} <sup>st</sup> year | Semester {{viewSubject.yearOfSem}}</h3>
        </div>
        <div *ngIf="viewSubject.yearOfSem==2"> 
          <h3 class="modal-title" id="exampleModalLongTitle">{{viewSubject.yearOfSem}} <sup>nd</sup> year | Semester {{viewSubject.yearOfSem}}</h3>
        </div>
        <div *ngIf="viewSubject.yearOfSem==3"> 
          <h3 class="modal-title" id="exampleModalLongTitle">{{viewSubject.yearOfSem}} <sup>rd</sup> year | Semester {{viewSubject.yearOfSem}}</h3>
        </div>
        <div *ngIf="viewSubject.yearOfSem >=4"> 
          <h3 class="modal-title" id="exampleModalLongTitle">{{viewSubject.yearOfSem}} <sup>th</sup> year | Semester {{viewSubject.yearOfSem}}</h3>
        </div>



        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table *ngIf="viewSubject" class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Subject</th>
              <th scope="col">Result</th>
              <th scope="col">status</th>
            </tr>
          </thead>
          <tbody *ngFor="let sub of viewSubject.semInfo['0']; index as i;" >
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{sub.name}}</td>
                <td>{{sub.subjectGrade}}</td>
                
                <div [ngSwitch]="sub.status" >
                  <td id="good" *ngSwitchCase="'Good'">{{sub.status}}</td>
                  <td id="medium" *ngSwitchCase="'Medium'" >{{sub.status}}</td>
                  <td id="weak" *ngSwitchCase="'Weak'">{{sub.status}}</td>
                </div>
               
               
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- POP UP semester view -->
<!-- </body> -->