<section class="team-section text-center my-5">
  <h2 class="h1-responsive font-weight-bold my-5">Profile</h2>
  <div class="row">
    <div class="col">
      <div >
        <img src="../../../assets/profileicon.jpg" class="rounded-circle z-depth-1"
          alt="Sample DP">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3"> <mdb-icon fas icon="signature"></mdb-icon>  :{{name}}</h5>

      <h5 class="font-weight-bold mt-4 mb-3"><mdb-icon fas icon="envelope"></mdb-icon>  : {{email}}</h5>
      
      
    </div>

  </div>

</section>